@model MultiPART.Models.LostPasswordModel
@{
    ViewBag.Title = "Forgot your password?";
}


<p>Enter your email address to reset your password. You may need to check your spam folder. </p>

<div class="col-sm-12 row">
@if (ViewBag.sent == "yes")
{
    <div id="formSubmitSuccess" class="alert alert-success  fade in" role="alert">
            Your email has been sent. You should shortly receive a password reset email if you have supplied an email that is registered with an account.
    </div>
}

@if (ViewBag.sent != "yes")
{
    <section class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2" id="LostPasswordForm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-danger center-block manul-center">Send Email</button>
        }
    </section>
}
    </div>
<br />
 <div class="col-sm-12 row">
     @Html.ActionLink("Back to Home", "Index", "Home")
</div>
