@model IEnumerable<MultiPART.Models.ViewModel.ProcedureDetailViewModel>
@{
    ViewBag.Title = ViewBag.ProcedureName + " Details";
}

<br />

@using (Html.BeginForm("Index", "ProcedureDetails", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <input hidden name="procedureid" value="@ViewBag.Procedureid" />
        <input hidden name="projectid" value="@ViewBag.MultiPARTProjectID" />
        @Html.EditorForModel()
    </div>
    <br />

    <div class="row col-xs-12">
        <div class="col-sm-offset-5">
            <button type="submit" class="btn btn-warning btn-lg">Save</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-default">Back</a>
        </div>
    </div>

}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chosenjs")
    <script src="~/Scripts/addProcedureChosen.js"></script>
}

