@model IEnumerable<MultiPART.Models.ViewModel.UserProjectAssignmentListViewModel>
            <div class="table-responsive">
<table class="table notopboard-table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Research Group
        </th>
        <th>Role</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>@item.Researchgroup, @item.Institution</td>

            <td> @item.UserRoleinProject
                &nbsp
                <a href="@Url.Action("EditUserProjectAssignment", new {userprojectassignmentid = item.UserProjectAssignmentID})">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>

            <td>
                @using (Html.BeginForm("DeleteUserProjectAssignment", "MultiPARTProject", new { userprojectassignmentid = item.UserProjectAssignmentID }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-default btn-xs "> <i class="fa fa-trash"></i></button>
                }

            </td>
        </tr>
    }

</table>
</div>