@model MultiPART.Models.ViewModel.ResearchgroupViewModel

@{
    ViewBag.Title = "Edit Research Group: " +@Model.ResearchgroupName;
}

<section class="col-xs-12">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row col-xs-12">
            @Html.HiddenFor(model => model.ResearchgroupID)

            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.ResearchgroupName)

                    @Html.TextBoxFor(model => model.ResearchgroupName, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.ResearchgroupName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InstitutionID)

                    @Html.DropDownListFor(model => model.InstitutionID, (SelectList)ViewBag.InstitutionList, "---- Select Country ----", new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.InstitutionID)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedOn)

                    @Html.DisplayFor(model => model.CreatedOn.LocalDateTime)

                </div>

                <br />
                <div class="row col-xs-12">
                    <div class="col-sm-offset-3">
                        <button type="submit" class="btn btn-warning btn-lg">Save</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default btn-lg" })
                    </div>
                </div>
            </div>
        </div>
    }
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
