@model MultiPART.Models.ViewModel.ProcedureListViewModel


<tr>
    <td>
        <a href="@Url.Action("Edit", "Procedure", new { procedureid = Model.ProcedureID })" class="btn btn-sm btn-warning btn-xs white-font"><i class="fa fa-pencil"></i></a>
        @Model.ProcedureLabel
    </td>
    <td>@Model.ProcedureType</td>
    <td>@Model.Details</td>
    <td>
        <a href="@Url.Action("Index", "Administration", new { procedureid = Model.ProcedureID, projectid = Model.MultiPARTProjectMultiPARTProjectID })" class="btn btn-info btn-xs white-font">
            <i class="fa fa-stethoscope fa-lg"></i>       
             <span class="badge">@Model.NumberOfAdministration</span>
        </a>
    </td>
    <td>
        <a href="@Url.Action("Index", "ProcedureDetails", new { procedureid = Model.ProcedureID, projectid = Model.MultiPARTProjectMultiPARTProjectID })" class="btn btn-info btn-xs white-font">
            <i class="fa fa-file-text-o fa-lg"></i>       
             <span class="badge">@Model.NumberOfDetails</span>
        </a>
    </td>
    <td>
        <a href="@Url.Action("DataEntryDesign", "DataEntry", new { procedureid = Model.ProcedureID, projectid = Model.MultiPARTProjectMultiPARTProjectID })" class="btn btn-info btn-xs white-font">
            <i class="fa fa-gear fa-lg"></i>
            <span class="badge">@Model.NumberOfFormField</span>
        </a>
    </td>
    <td>
        @using (Html.BeginForm("Delete", "Procedure", new { procedureid = Model.ProcedureID }))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-default btn-xs "><i class="fa fa-trash"></i></button>
        }

    </td>
</tr>
