@model MultiPART.Models.ViewModel.ResearchgroupInMultiPARTProjectViewModel

<div class="row col-xs-12">
    <div class=" col-sm-8 col-sm-offset-2">
        @Html.HiddenFor(model => model.MultiPARTProjectID)
        <div class="form-group">
            @Html.LabelFor(model => model.ResearchgroupID)

            @Html.DropDownListFor(model => model.ResearchgroupID, (SelectList)ViewBag.ResearchgroupList, "---- Select research group ----", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ResearchgroupID)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationDate)

            <div class='input-group date datetimepicker'>
                @Html.TextBoxFor(model => model.RegistrationDate, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            @Html.ValidationMessageFor(model => model.RegistrationDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ResearchgroupRoleinMultiPARTProjectID)
            @Html.DropDownListFor(model => model.ResearchgroupRoleinMultiPARTProjectID, (SelectList)ViewBag.ResearchgroupRoleList, "---- Select research group's role ----", new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.ResearchgroupRoleinMultiPARTProjectID)
        </div>
    </div>
</div>